<h1 class="page-header">Content <small><i class="icon-double-angle-right"></i> manage your content</small></h1>
<div class="form-group row">
<label class="col-md-2 control-label" for="">Content type</label>  
  <div class="col-md-8">
    <div class="col-md-5">
      <select ng-options="type as type.label for type in contenttypes" ng-model="contenttype" class="form-control input-md"></select>
    </div>
    <div class="col-md-3" ng-show="contenttype">
      <button class="btn btn-success" ng-click="add()"><i class="fa fa-plus"></i> New {{contenttype.label}}</button>
    </div>
  </div>
</div>
<table class="table table-striped" ng-show="contentlist.length > 0">
	<thead>
		<tr>
			<th ng-repeat="(fieldname, field) in contenttype.schema.properties" ng-show="contenttype.schemaOptions[fieldname].showInList">
				{{contenttype.schemaOptions[fieldname].label}}
			</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="content in contentlist">
			<td ng-repeat="(fieldname, field) in contenttype.schema.properties" ng-show="contenttype.schemaOptions[fieldname].showInList">
				<a ng-click="edit(content)">{{content[fieldname]}}</a>
			</td>
			<td>
				<button class="btn btn-success" ng-click="edit(content)"><i class="fa fa-pencil"></i></button>
				<button class="btn btn-danger" ng-click="remove(content)"><i class="fa fa-trash-o"></i></button>
			</td>
		</tr>
	</tbody>
</table>
<div ng-show="contenttype !== undefined && contentlist.length == 0">
	No {{contenttype.label}} content created yet.
</div>
<div ng-show="contenttype === undefined">
	Select a content type first
</div>