<div ng-controller="coreArrayConfigController">
	<fieldset>
		<legend>Array configuration</legend>
    <div class="form-group row">
      <label class="col-md-2 control-label" for="">Widget</label>  
      <div class="col-md-8">
        <select ng-options="type as type for type in fieldtypes" ng-model="field.items.type" class="form-control input-md"></select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 control-label" for="">Widget</label>  
      <div class="col-md-8">
        <select ng-options="widgetname as widgetname for (widgetname, widget) in itemsfield.widgets" ng-model="data.items.widget" class="form-control input-md"></select>
      </div>
    </div>
		<div cn-field-config field="field.items" data="data.items" />
	</fieldset>
</div>