<div ng-controller="coreObjectConfigController">
	<fieldset>
		<legend>Object configuration</legend>
		<table class="table table-striped">
      <thead>
        <tr>
          <th>Order</th>
          <th>Label</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody ui-sortable ng-model="field.properties">
        <tr ng-repeat="(fieldname, field) in field.properties">
          <td><i class="fa fa-arrows"></i></td>
          <td><input type="text" ng-model="data[fieldname].label" placeholder="Label" class="form-control input-md" /></td>
          <td><input type="text" ng-model="fieldname" class="form-control input-md" disabled /></td>
          <td>
            <button class="btn btn-success" ng-click="editField(fieldname)"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-danger" ng-click="removeField(fieldname)"><i class="fa fa-trash-o"></i></button>
          </td>
        </tr>
      </tbody>
      <tfooter>
        <tr>
          <td></td>
          <td><input type="text" ng-model="newLabel" placeholder="Label" class="form-control input-md"  /></td>
          <td><input type="text" ng-model="newName" placeholder="name" class="form-control input-md" /></td>
          <td><button class="btn btn-success" ng-click="addField(newLabel, newName)"><i class="fa fa-plus"></i> Add</button></td>
        </tr>
      </tfooter>
    </table>
  </fieldset>
  <div cn-field-options cn-data="editfieldOptions" cn-field="editfield" ng-show="editfield !== undefined" />
</div>